body {
	background-color: #FAFAFA;
}

#main-content {
	min-height: 1000px;
	margin-top: 50px;
}

.no-padding {
	padding: 0;
}

.table th, td {
   text-align: center;   
}

.field-error {
	border-color: #FF0000;
	margin-bottom: 10px;	
}
.namepriority,.total{
	background: yellow;
  color: red;
}
.table-responsive{
	overflow-x: visible !important;
} 
.btn-load{
	margin-left: 240px;
}

.dataTables_filter {
	 position: absolute;
    top: -100px;
    z-index: 99;
    left: -220px;
}
@media only screen and (max-width: 600px) {
  dataTables_filter {
	 left: -133px;
}
}